<% content_for :title, "New old school" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New old school</h1>

 <!--If you must turbo me call this method-->
  <%= turbo_frame_tag "new_game" do %>
    <!--All this content will replace the target-->
    <%= render "form", old_school: @old_school %>
  <% end %>

  <%= link_to "Back to old schools", old_schools_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
